:root {
  color: var(--main-color);
  font: 16px/1.4rem monospace;
  letter-spacing: -0.03125rem;
  --accent-color: #FF8000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202024;
    --body-color: #242428;
    --main-color: #E0E0E0;
    --img-invert: 1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #F5F5F3;
    --body-color: #F1F1EE;
    --main-color: #101010;
    --img-invert: 0;
  }
}

@media (width <= 44rem) {
  :root {
    font-size: 11px;
  }
}

html {
  background-color: var(--bg-color);
  background-image: radial-gradient(circle, var(--main-color) 1px, transparent 2px);
  background-position: center top;
  background-size: 3rem 3rem;
  padding: 0 1rem;
}

body {
  background-color: var(--body-color);
  border: 1px solid var(--main-color);
  box-shadow: 0 0 3rem black;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 10vh auto;
  padding: 10vh 2rem 10vh;
}

main {
  min-height: 40vh;
  margin: 1rem 0;
  padding: 0 1rem;
}

h1 {
  font-size: 1.2rem;
  margin: 1rem 0;
}
h1::before {
  color: var(--accent-color);
  content: '# ';
}

h2 {
  font-size: 1.1rem;
  margin: 1rem 0;
}
h2::before {
  color: var(--accent-color);
  content: '## ';
}

h3 {
  font-size: 0.9rem;
  margin: 1rem 0;
}

p > a {
  transition: color 0.25s;
  text-decoration: underline;
  color: inherit;
}

li > a {
  transition: color 0.25s;
  text-decoration: underline;
  color: inherit;
}

a {
  transition: color 0.25s;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #888;
}

hr {
  border-width: 0.1em;
  border-style: solid;
  border-color: var(--main-color);
  height: 0px;
  padding: 0;
  margin: 0;
}

#site-nav {
  margin: 0.5rem 0;
}

#site-nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

#site-nav a {
  text-decoration: none;
  color: inherit;
  transition: text-decoration 0.25s ease, color 0.25s ease;
}

#site-nav a:hover {
  color: #888;
}

#social-links {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1em;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#social-links a > img{
  transition: opacity 0.25s ease;
  filter: grayscale(1) invert(var(--img-invert));
  max-width: 1.1rem;
  max-height: 1.1rem;
}

#social-links a > img:hover {
  opacity: 0.5;
}
