:root {
  color: var(--main-color);
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202024;
    --main-color: #E0E0E0;
    --img-invert: 1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #F5F5F3;
    --main-color: #101010;
    --img-invert: 0;
  }
}

@media (width <= 42rem) {
  :root {
    font-size: 11px;
  }
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto 10vh;
  padding: 20vh 1rem 0;
}

main {
  min-height: 40vh;
  margin: 1rem 0;
}

h1 {
  font-size: 1.2rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.1rem;
  margin: 1rem 0;
}

p a {
  transition: color 0.25s;
  text-decoration: underline;
  color: inherit;
}

p a:hover {
  color: #888;
}

hr {
  border-width: 0.1em;
  border-style: solid;
  border-color: var(--main-color);
  height: 0px;
  padding: 0;
  margin: 0;
}

#site-nav {
  margin: 0.5rem 0;
}

#site-nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

#site-nav a{
  text-decoration: none;
  color: inherit;
  transition: text-decoration 0.25s ease, color 0.25s ease;
}

#site-nav a:hover {
  color: #888;
}

#social-links {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1em;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#social-links a > img{
  filter: grayscale(1) invert(var(--img-invert));
  max-width: 1.1rem;
  max-height: 1.1rem;
}
