:root {
  color: var(--main-color);
  font-family: "IBM Plex Mono", "Courier New", monospace;
  font-size: 16px;
  line-height: 1.6rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202024;
    --main-color: #E0E0E0;
    --img-invert: 1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #F5F5F3;
    --main-color: #101010;
    --img-invert: 0;
  }
}

@media (width <= 512px) {
  :root {
    font-size: 12px;
  }
}

body {
  background-color: var(--bg-color);
  display: flex;
  max-width: 30em;
  margin: 0 auto 10vh;
  padding: 20vh 1rem 0;
  flex-direction: column;
}

h1, h2, h3, h4 {
  font-size: 1rem;
  font-style: bold;
  margin: 1em 0;
}

p a {
  transition: color 0.25s;
  text-decoration: underline;
  color: inherit;
}

p a:hover {
  color: #888;
}

hr {
  border-width: 0.1em;
  border-style: solid;
  height: 0px;
}

