/******************** ID Specific ********************/

#hero-block {
  min-height: 400px;
  height: 45vh;
}
#hero-block p {
  font-weight: 400;
}
#hero-block img {
  width: 20px;
}
#hero-block .grid {
  margin-top: 1rem; 
  grid-template-rows: repeat(1, 40px);
  grid-template-columns: repeat(4, 40px);
}
#hero-block .grid a {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
#hero-block .grid a:hover {
  background-color: var(--light-grey);
}

#hero-img{
  display: flex;
  margin: 0 0;
  justify-content: center;
  align-items: center;
}
#hero-img img {
  border-radius: 50%;
  width: 70%;
}

#project-cards-container {
  background-color: var(--grey);
  margin: 1rem 0;
  grid-template-columns: repeat(3, 1fr);
}
#project-cards-container hgroup {
  background-color: var(--white);
  padding: 2rem;
  cursor: pointer;
  transition: 0.2s;
}
#project-cards-container a {
  background-color: var(--white);
  padding: 2rem;
  transition: 0.2s;
}
#project-cards-container a:hover {
  background-color: var(--light-grey);
}

.green-yellow-gradient {
  background-image: linear-gradient(30deg, var(--green), var(--yellow));
}

#footer-block {
  filter: invert(1);
  height: 18vh;
  font-size: 0.85rem;
}
#footer-block hgroup {
  display: flex;
}
#footer-block hgroup p {
  padding: 0.125rem;
}
#footer-block hgroup h5 {
  margin: 1rem 0 0.75rem 0;
}
#footer-block form {
  margin-top: 1rem;
}

#skill-images {
  margin: 1rem 0;
  justify-content: space-around;
  height: 64px;
}
#skill-images img {
  height: inherit;
  width: auto;
}
