body {
  background-color: #F5F5F5;
  margin: 40px auto;
  margin-top: 160px;
  max-width: 400px;
  line-height: 1.6;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color: #444;
  padding: 0 10px
}
h1, h2, h3 {
  line-height: 1.2;
}
p a {
  transition: color 0.25s;
  text-decoration: underline;
  color: inherit;
}
p a:hover {
  color: #888;
}
hr {
  border-width: 1px;
  height: 0px;
}

#social-links {
  transition: opacity 0.5s;
  display: flex;
  opacity: 0;
  align-items: center;
  gap: 18px;
}
#social-links img {
  filter: grayscale(1);
  max-width: 20px;
  max-height: 20px;
  width: auto;
  height: auto;
}

.disabled-link {
  pointer-events: none;
}

.link-text {
  transition: color 0.25s;
  text-decoration: underline;
  cursor: pointer;
  color: inherit;
}
.link-text:hover {
  color: #888;
}
