#social-links {
  display: flex;
  align-items: center;
  gap: 1em;
}

#social-links a > img{
  filter: grayscale(1) invert(var(--img-invert));
  max-width: 1.1rem;
  max-height: 1.1rem;
  width: auto;
  height: auto;
}
