<head>
  <title>{{ site.title }}</title>
  <link rel="shortcut icon" href="/assets/images/website-icon.png">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="ryan ngo, ryan, ngo">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ '/assets/css/baseline.css' }}" />
  {% if page.tags contains "code" %}
    <link rel="stylesheet" href="{{ '/assets/css/syntaxHL.css' }}" />
  {% endif %}

</head>
