
{% unless post-list-length %}
  {% assign post-list-length = site.posts | size %}
{% endunless %}
<ul id="post-list">
  {% for post in site.posts limit: post-list-length %}
    <li class="list-item">
      <a class="link-wrapper" href="{{ post.url }}">
        <div class="list-content">
          <div class="post-date"> {{ post.date | date: "%Y-%m-%d" }}&emsp; </div>
          <h3 class="post-title"> {{ post.title }} </h3>
          <p class="post-excerpt"> {{ post.content | strip_html | truncatewords: 20 }} </p>
          <ul class="tag-list">
            {% for tag in post.tags %}
              <li class="tag">
                {{ tag }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>

