
{% unless project-list-length %}
  {% assign project-list-length = site.projects | size %}
{% endunless %}
<ul id="project-list">
  {% assign sorted_projects = site.projects | sort: 'priority' %}
  {% for project in sorted_projects limit: project-list-length %}
    <li class="project-list-item">

      {% if project.cover-photo %}
        <div class="project-list-item-cover-photo-wrapper">
          <img src="{{ project.cover-photo }}">
        </div>
        <div class="project-list-item-content">
          <h3 class="project-title"> {{ project.title }} </h3>
          <p class="project-excerpt"> {{ project.blip }} </p>
        </div>
      {% else %}
        <div class="project-list-item-content" style="grid-column: 1 / span 2;">
          <h3 class="project-title"> {{ project.title }} </h3>
          <p class="project-excerpt"> {{ project.blip }} </p>
        </div>
      {% endif %}

      <a class="project-list-item-button" href="{{ project.url }}">
        <div class="project-list-item-button-inner">
          <div> &#8599; </div>
        </div>
      </a>

    </li>
  {% endfor %}
</ul>

