
{% unless project-list-length %}
{% assign project-list-length = site.projects | size %}
{% endunless %}
<div class="project-list">
    {% assign sorted_projects = site.projects | sort: 'priority' | reverse %}
    {% for project in sorted_projects limit: project-list-length %}
    <a class="project-card" href="{{ project.url }}">
        <div class="project-card__title">{{ project.title }}</div>
        <div class="project-card__leader"></div>
        <small class="project-card__year">{{ project.year }}</small>
    </a>
    {% endfor %}
</div>

