
{% unless project-list-length %}
  {% assign project-list-length = site.projects | size %}
{% endunless %}
<ul id="project-list">
  {% assign sorted_projects = site.projects | sort: 'priority' %}
  {% for project in sorted_projects limit: project-list-length %}
    <li class="project-list-item">

      <div class="project-list-item-content">
        <h3 class="project-title"> {{ project.title }} </h3>
        <div class="project-excerpt"> {{ project.blip }} </div>
      </div>

      <a class="project-list-item-button" href="{{ project.url }}">
        <div class="project-list-item-button-inner">
          <div> &#8599; </div>
        </div>
      </a>

    </li>
  {% endfor %}
</ul>

