
<div class="social-links">

  <a class="social-button" href="{{ site.github }}" target="_blank">
    <!--
    <img src="/assets/images/Github_Logo.png" alt="Github">
    -->
    {% octicon mark-github height:24 class:"invert-on-scheme" %}
  </a>

  <a class="social-button" href="{{ site.linkedin }}" target="_blank">
    <img class="invert-on-scheme" src="/assets/images/LinkedIn_Logo.png" alt="Linkedin">
  </a>

  <a class="social-button" href="mailto:{{ site.email }}" target="_blank">
    <!--
    <img src="/assets/images/Mail_Logo.png" alt="email">
    -->
    {% octicon mail height:24 class:"invert-on-scheme" %}
  </a>

</div>

