
:root {
  --base-100: hsl(270 3% 100%);
  --base-200: hsl(270 3% 85%);
  --base-300: hsl(270 3% 74%);
  --base-400: hsl(270 3% 64%);
  --base-500: hsl(270 3% 53%);
  --base-600: hsl(270 3% 42%);
  --base-700: hsl(270 3% 32%);
  --base-800: hsl(270 3% 21%);
  --base-900: hsl(270 3% 10%);

  --accent-100: hsl(171 100% 98%);
  --accent-200: hsl(171 100% 85%);
  --accent-300: hsl(171 100% 75%);
  --accent-400: hsl(171 100% 65%);
  --accent-500: hsl(171 100% 55%);
  --accent-600: hsl(171 100% 45%);
  --accent-700: hsl(171 100% 35%);
  --accent-800: hsl(171 100% 25%);
  --accent-900: hsl(171 100% 15%);
}

