
:root {
  --sans-font: "Inter", "Arial", system-ui, Ubuntu, -apple-system, sans-serif;
  --serif-font: "serif";
  --mono-font: Courier New, monospace;

  --font-size: 16px;
  --content-width: 44rem;
  --img-invert: 0;
}

html {
  font-size: var(--font-size);
  letter-spacing: -0.022rem;
}

body {
  background-color: var(--base-100);
  color: var(--text-800);
  font-family: var(--sans-font);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

main {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto auto;
  padding: 1.5rem 3rem 3rem;
  height: auto;
}

article {
  padding: 0 0rem;
  margin: 0;
  font-weight: 350;

  p {
    margin: 0.0rem 0 1rem 0;

    >a {
      color: inherit;
      transition: all 0.2s;
      &:hover {
        color: var(--accent-500);
      }
    }
  }

  h1, h2, h3 {
    font-style: italic;
    line-height: 1.8rem;
    text-indent: 1.5rem hanging;
    letter-spacing: -0.005rem;
    &::before {
      margin-right: 0.5rem;
      color: var(--accent-500)
    }
  }

  h1 {
    font-weight: 500;
    font-size: 1.6rem;
    text-indent: 1.5rem hanging;
    margin-bottom: 0.75rem;
    &::before {
      content: ">";
    }
  }

  >h2 {
    font-weight: 400;
    font-size: 1.4rem;
    margin: 2rem 0 1rem;
  }

  >h3 {
    font-weight: 450;
    font-size: 1.2rem;
    margin: 1rem 0 0rem;
  }

  ul {
    margin: 0 0 0 0.5rem;
    padding-left: 1rem;
  }

  blockquote {
    background-color: hsl(var(--block-hsl) / 0.1);
    margin: 1.0rem;
    padding: 1rem;
    border-radius: 0.5rem 0.75rem 0.75rem 0.5rem;
    border-left: 0.5rem solid hsl(var(--block-hsl));
    box-shadow: var(--shadow) hsl(var(--block-hsl) / 0.4),
                var(--edge-shadow) hsl(var(--block-hsl) / 0.4);
    font-family: var(--sans-font);
    font-weight: 400;
    font-style: italic;
    font-size: 0.9rem;
    color: hsl(var(--block-color));
    padding: 0.75rem;

    &::before {
      display: block;
      content: var(--bq-text);
      font-weight: 800; 
      font-style: normal;
      margin: 0;
    }

    &.blockquote-note {
      --bq-text: "Note";
      --block-hsl: 220 100% 75%;
      --block-color: 220 25% 50%;
    }
    &.blockquote-tip {
      --bq-text: "Tip";
      --block-hsl: 120 70% 75%;
      --block-color: 120 25% 50%;
    }
    &.blockquote-important {
      --bq-text: "Important";
      --block-hsl: 270 70% 75%;
      --block-color: 270 25% 50%;
    }
    &.blockquote-warning {
      --bq-text: "Warning";
      --block-hsl: 30 100% 75%;
      --block-color: 30 25% 50%;
    }
    &.blockquote-caution {
      --bq-text: "Caution";
      --block-hsl: 0 100% 75%;
      --block-color: 0 25% 50%;
    }

  }


  img {
    display: block;
    margin: 0rem auto;
    max-width: 95%;
    border-radius: 0.5rem;
    box-shadow: var(--shadow) var(--base-600),
                var(--edge-shadow) var(--base-700);
    + sub {
      display: inline-block;
      text-align: center;
      width: 100%;
    }
  }
}

hr {
  border-style: none;
  border-top: 0.0625rem solid var(--base-700);
  height: 0px;
  margin-bottom: 1rem;
  padding: 0;
}

