
footer {
  width: auto;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;

  a {
    color: inherit;
    transition: all 0.2s;
    text-decoration: none;
  }
}

#footer-content {
  width: var(--content-width);
  display: flex;
  justify-content: space-between;
  align-items: center;

  p > a:hover {
    opacity: 0.65;
  }
}

#social-links {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1em;

  .social-button {
    min-width: 2rem; 
    height: 2rem; 
    marigin: 0.25rem;
    padding: 0.25rem;

    border-radius: 0.5rem;
    box-shadow: var(--shadow) var(--base-700),
                var(--edge-shadow) var(--base-700);
    background-image: linear-gradient(var(--base-100), var(--base-300)); 

    transition: all 0.1s;

    &:hover {
      transform: translate(0, 0.125rem);
      box-shadow: var(--shadow) var(--base-700);
      background-image: linear-gradient(var(--base-100), var(--base-300)); 
      > * {
        background-image: linear-gradient(var(--base-200), var(--base-100));
      }
    }

    > * {
      box-sizing: border-box;
      display: flex;
      padding: 0.25rem;
      height: 100%;

      align-items: center;

      border-radius: 0.25rem;
      background-image: linear-gradient(var(--base-300), var(--base-100));

      img {
        width: 1.5rem;
        height: auto;
      }
    }
  }

}

