
footer {
  display: flex;
  justify-content: center;
  width: 100%;

  font-size: 0.75rem;

  a {
    color: inherit;
    transition: all 0.2s;
    text-decoration: none;
  }
}

#footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6vh;
  padding: 1rem 1rem 2rem;

  width: var(--content-width);

  > p {
    margin: 0;
    > a {
      color: var(--text-light);
      text-decoration: underline;
      &:hover {
        color: var(--primary);
      }
    }
  }
}

#social-links {
  display: flex;
  gap: 1.5em;

  .social-button {
    width: 1.5rem; 

    transition: all 0.1s;

    &:hover {
      > img {
        opacity: 0.65;
      }
    }

    > img {
      height: 100%;
      width: 100%;

      object-fit: contain;
    }
  }

}

