---
---

article {
  max-width: calc(var(--content-width) * 1.4);
}

#astrophoto-image-link {
  display: block;
  position: relative;
  overflow: hidden;
  width: fit-content;
  margin: 0 auto;
}

.astrophoto-image__low {
  display: block;
  width: 100%;

  margin: 0 0 2rem 0;
  padding: 0;

  background-color: var(--base-darker);
}

.astrophoto-image__high {
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;

  &:hover {
    cursor: zoom-in;
  }
}

.astrophoto-image__high.loaded {
  opacity: 1;
}

#properties-section {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--content-width) * 0.4), 1fr));
  gap: 0 1rem;

  max-width: var(--content-width);
  margin: auto;

  padding: 0 0.5rem;
}

.prop-list {
  display: grid;
  margin-bottom: 2.0rem; 
  grid-template-columns: 7rem 1fr;
  grid-auto-rows: min-content;
  gap: 0 1rem;

  font-size: var(--h5-size);
}

.prop-list__title {
  grid-column: span 2;
  padding-left: 1rem;
  margin-bottom: 0.5rem;

  color: var(--text-light);
  background-color: var(--base-dark);

  border-radius: 0.25rem;
  border: solid 1px var(--base-darker);
}

.prop-list__equiptype {
  padding-left: 0.5rem;
  font-weight: 500;
}

