---
---

:root {
  --sans-font: "IBM Plex Sans", "Arial", system-ui, Ubuntu, -apple-system, sans-serif;
  --mono-font: Courier New, monospace;

  --base-100: hsl(270 3% 100%);
  --base-200: hsl(270 3% 90%);
  --base-300: hsl(270 3% 80%);
  --base-400: hsl(270 3% 70%);
  --base-500: hsl(270 3% 60%);
  --base-600: hsl(270 3% 50%);
  --base-700: hsl(270 3% 40%);
  --base-800: hsl(270 3% 30%);
  --base-900: hsl(270 3% 20%);

  --accent-100: hsl(171 100% 98%);
  --accent-200: hsl(171 100% 85%);
  --accent-300: hsl(171 100% 75%);
  --accent-400: hsl(171 100% 65%);
  --accent-500: hsl(171 100% 55%);
  --accent-600: hsl(171 100% 45%);
  --accent-700: hsl(171 100% 35%);
  --accent-800: hsl(171 100% 25%);
  --accent-900: hsl(171 100% 15%);

  --font-size: 16px;
  --content-width: 38rem;
  --img-invert: 0;
}

/* mobile conditions */
@media (width <= 42rem) {
  :root {
    --font-size: 11px;
  }
}

@import "header";
@import "footer";
@import "post-list";
@import "project-list";

/* primary elemenets */

html {
  font-size: var(--font-size);
  letter-spacing: -0.02rem;
}

body {
  background-color: var(--base-100);
  color: var(--base-900);
  font-family: var(--sans-font);
  line-height: 1.4rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

main {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto auto;
  height: auto;
}

article {
  padding: 0 2rem;
  margin: 0;
}

article p > a {
  color: inherit;
  transition: all 0.2s;
}

article p > a:hover {
  color: var(--accent-800);
}

article h1, h2, h3 {
  line-height: 1.2rem;
}

article > h1 {
  font-weight: 500;
  font-size: 1.6rem;
}

article > h1::before {
  content: ">";
  margin-right: 0.5rem;
  color: var(--accent-700)
}

article > h2 {
  font-weight: 400;
  font-size: 1.4rem;
  margin: 3rem 0 1rem;
}

article > h2::before {
  content: ">>";
  margin-right: 0.5rem;
  color: var(--accent-700)
}

article > h3 {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 1.5rem 0 1rem;
}

article > h3::before {
  content: ">>>";
  margin-right: 0.5rem;
  color: var(--accent-700)
}

article ul {
  margin: 0 0 0 0.5rem;
  padding-left: 1rem;
}

article blockquote {
  margin: 0.5rem;
  padding: 0 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--base-300);
  font-size: 0.85rem;
}

article img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
}

hr {
  border-style: none;
  border-top: 0.125rem solid var(--base-900);
  height: 0px;
  margin: 1rem 0;
  padding: 0;
}

.title-highlight {
  text-decoration: var(--accent-700) wavy underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.25rem;
}

