---
---

#home-title {
  margin-bottom: 1.0em;

  > span {
    text-decoration: var(--primary) wavy underline;
    text-decoration-thickness: 0.0625em;
    text-decoration-skip-ink: none;
    text-underline-offset: 0.125em;
  }
}

.list-heading {
  display: flex;

  margin: 0;
  
  justify-content: space-between;
  align-items: center;

  > h3 {
    margin: 0;
  }

  a {
    box-sizing: border-box;
    padding: 0.25em 0.75em;

    border-radius: 0.5rem;

    color: var(--text);
    font-size: 0.9rem;
    text-decoration: none;

    transition: all 0.2s;

    &:hover {
      color: var(--text-light);
      text-decoration: underline;
    }
  }
}


