---
---

.title-highlight {
  text-decoration: var(--accent-700) wavy underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.25rem;
}

.list-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 1rem;

  >h2 {
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0;
    &::before {
      content: ">>";
    }
  }

  a {
    color: inherit;
    font-size: 0.9rem;
    text-decoration: var(--accent-700) solid underline;
    margin: 0 1rem;
    &::after{
      content: "->";
      color: inherit;
    }
  }
}


