---
---

#home-title {
  margin-bottom: 1.0em;

  > span {
    text-decoration: var(--primary) wavy underline;
    text-decoration-thickness: 0.0625em;
    text-decoration-skip-ink: none;
    text-underline-offset: 0.125em;
  }
}

.list-heading {
  display: flex;

  margin-bottom: 0.5rem;
  
  justify-content: space-between;
  align-items: center;

  > h3 {
    margin: 0;
  }

  a {
    box-sizing: border-box;
    padding: 0.25em 0.75em;

    border-radius: 0.5rem;

    color: var(--text);
    font-size: 0.9rem;
    text-decoration: underline solid transparent;

    transition: all 0.2s;

    &:hover {
      color: var(--text-light);
      text-decoration: underline solid var(--text-light);
    }
  }
}

#home-social-links {
  display: flex;
  gap: 1em;

  margin-bottom: 2.0rem;
  padding: 0.5rem;

  .social-button {
    display: flex;
    text-decoration: none;
    align-items: center;

    > img {
      width: 1.25rem;
      height: 100%;

      transition: all 0.2s;

      object-fit: contain;
    }

    > div {
      margin-left: 0.5em;

      color: var(--text);
      text-decoration: underline solid transparent;
      font-size: 0.85rem;

      transition: all 0.2s;
    }

    &:hover {
      > div {
        color: var(--text-light);
        text-decoration: underline solid var(--text-light);
      }

      > img {
        opacity: 0.7;
      }
    }
  }
}

