---
---

.title-section {
  margin-block-end: var(--spacing-200);
}

#title-section__overview {
  display: inline-block;
  margin-block-end: var(--spacing-100);
}

#title-section__title {
  margin-block-end: var(--spacing-100);
}

#title-section__post-info{
  display: flex;
  gap: var(--spacing-150);

  font-family: var(--mono-font);
  font-size:    var(--mini-size);
  color: var(--text-tertiary);
}

