---
---

#post-title {
  margin-block-end: var(--spacing-50);
}

#post-date {
  font-size:    var(--mini-size);
  margin-inline-start:  var(--spacing-100);
  margin-block-end:     var(--spacing-50);
}

