---
---

.post-list {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 0.5rem;

  margin: 0 0 2.0rem;
  padding: 0 0.5rem; 
}

.post-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0.25rem;

  border-radius: 1rem;

  text-decoration: none;
  color: var(--text);

  transition: all 0.2s;

  &:hover {
    text-decoration: underline;
    color: var(--text-light);
  }
}

