---
---

#title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-section__github-link {
  height: 1.5rem; 
  align-self: flex-start;

  > svg {
    transition: all 0.2s;
    height: 100%;
  }

  &:hover {
    svg {
      opacity: 0.65;
    }
  }
}

