---
---

#title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > h1 {
    margin: 0;
  }

  > a {
    height: 1.75rem; 

    > img {
      transition: all 0.2s;
      height: 100%;
    }

    &:hover {
      img {
        opacity: 0.65;
      }
    }
  }
}

