
.astrophoto-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  // grid-template-columns: 1fr;
  gap: 0.5rem;

  padding: 0 0.5rem;
}

.astrophoto-card {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  margin: 0;

  background-color: #FFF;

  transition: all 0.25s ease;

  &:hover {
    & > figcaption {
      opacity: 1.0;
    }
  }
}

.astrophoto-card__image {
  display: block;

  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: all 0.25s ease;

  &:hover {
    opacity: 0.95;
  }
}

.astrophoto-card__title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  padding: 0.25rem 0.5rem;

  font-size: var(--h5-size);
  color: #FFF;

  opacity: 0;

  transition: all 0.25s ease;
}

