
.book-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.0rem 1.0rem;

  margin: 0 0 2.0rem;
  padding: 0.5rem;

}

.book-card {
  box-sizing: border-box;
  display: flex;

  width: 100%;
}

.book-card__cover-image {
  width: 5rem;
  height: 8rem;
  object-fit: contain;
  object-position: center top;
  align-self: flex-start;
}

.book-card__content {
  padding: 0 0.5rem;

  font-size: var(--small-size);
}

.book-card__title-group{ 
  margin-bottom: 0.5rem;
  > * { margin: 0; }
  h2 { 
    font-size: var(--h3-size);
  }
  h3 { 
    font-size: var(--h4-size);
  }
}

.book-card__writing {
  padding-left: 0.5rem;
  border-left: 0.125rem solid var(--text-light);
  letter-spacing: 3%;
}
