
.post-list {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 0.5rem;

  margin: 0 0 2.0rem;
  padding: 0 0.5rem; 
}

.post-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0.25rem;

  border-radius: 1rem;

  text-decoration: underline solid transparent;
  color: var(--text);

  transition: all 0.2s;

  &:hover {
    color: var(--text-light);
    text-decoration: underline solid var(--text-light);
  }
}

.post-card__title {
  margin: 0;

  color: inherit;
  font-size: 1.0rem;
  font-weight: 400;
}
