
.post-list {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 1px;
  
  background-color: var(--border);
  border-radius: var(--spacing-50);
  overflow: hidden;
}

.post-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: var(--spacing-50);
  padding: var(--spacing-75) var(--spacing-100);

  text-decoration: none;
  font-size: var(--mini-size);
  font-weight: var(--mini-weight);

  background-color: var(--bg-primary);
  color: var(--text-tertiary);

  transition: all 0.2s;

  &:hover {
    .post-card__title {
      color: var(--accent);
    }
    background-color: var(--bg-secondary);
  }
}

.post-card__title {
  color: var(--text-primary);
  font-size: var(--small-size);
  font-weight: var(--body-weight);

  transition: inherit
}

.post-card__date {
  font-family: var(--mono-font);
}

