
.project-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;

  margin: 0 0 2.0rem;
  padding: 0 0.5rem; 
}

.project-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 0.75rem;
  padding: 0.25rem 0.5rem;

  text-decoration: underline solid transparent;
  color: var(--text);

  transition: all 0.2s;

  &:hover {
    color: var(--text-light);
    text-decoration: underline solid var(--text-light);
  }
}

.project-card__title {
  margin: 0;

  color: inherit;
  font-weight: 500;
  line-height: 1;
}

.project-card__leader {
  flex-grow: 1;
  border-bottom: solid 1px var(--base-darker);
}

