
.project-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;

  background-color: var(--border);
  border-radius: var(--spacing-50);
  overflow: hidden;
}

.project-card {
  display: flex;
  justify-content: space-between;

  gap: var(--spacing-50);
  padding: var(--spacing-75) var(--spacing-100);

  text-decoration: none;
  font-size: var(--mini-size);
  font-weight: var(--mini-weight);

  background-color: var(--bg-primary);
  color: var(--text-tertiary);

  transition: all 0.2s;

  &:hover {
    .project-card__title {
      color: var(--accent);
    }
    background-color: var(--bg-secondary);
  }
}

.project-card__title {
  color: var(--text-primary);
  font-size:  var(--small-size);
  font-weight: var(--body-weight);

  transition: inherit;
}

.project-card__blip {
  flex: 1;
}

.project-card__year {
  align-self: end;

  font-family: var(--mono-font);
}

