
.site-nav {
  display: flex;
  align-items: center;

  margin: 0;
  padding-inline: var(--spacing-50);
  gap: var(--spacing-100);

  font-size:    var(--mini-size);
  font-weight:  var(--h6-weight);
}

.site-nav__tab {
  display: flex;
  justify-content: center;

  box-sizing: border-box;
  padding: var(--spacing-50);

  text-decoration: underline solid transparent;
  color: var(--text);
  text-transform: capitalize;

  transition: all 0.2s;

  &:not(.site-nav__tab--highlight):hover {
    color: var(--text-light);
    text-decoration: underline solid var(--text-light);
  }
}

.site-nav__tab--highlight {
  text-decoration: underline solid var(--text);
}

