
.social-links {
  display: flex;
  gap: var(--spacing-100);
}

.social-button {
  width: 1.25rem; 

  > img, > svg {
    height: 100%;
    width: 100%;

    transition: all 0.2s;

    fill: var(--text-secondary);

    object-fit: contain;
  }

  &:hover {
    > svg {
      fill: var(--text-primary);
    }
    > img {
      opacity: 0.7;
    }
  }

}


