<!DOCTYPE html>

<html>
    {% include head.html %}

    <body>

        {% include header.html %}

        <main>
            <article>
                <div class="title-section">
                    <span id="title-section__overview" class="eyebrow">
                        {{ page.overview }}
                    </span>

                    <h1 id="title-section__title">{{ page.title }}</h1>

                    <div id="title-section__post-info">
                        <span>{{ page.date | date: "%Y-%m-%d" }}</span>
                        {% assign words = page.content | number_of_words %}
                        {% assign reading_time = words | divided_by: 200 %}
                        <span>/</span>
                        <span>~{{ reading_time }} min read</span>
                        {% unless page.tags == empty %}
                        <span>/</span>
                        <span>{{ page.tags | join: ", " }}</span>
                        {% endunless %}
                    </div>

                </div>
                {{ content }}
            </article>
        </main>

        {% include footer.html %}

    </body>

</html>

