<!DOCTYPE html>

<html>
    {% include head.html %}

    <body>

        {% include header.html %}

        <main>
            <article>
                <div id="title-section">
                    <span id="title-section__overview" class="eyebrow">
                        {{ page.overview }}
                    </span>

                    <h1 id="title-section__title">{{ page.title }}</h1>

                    <div id="title-section__post-info">
                        {% if page.github %}
                        <a href="{{ page.github }}" target="_blank">
                            Github
                        </a>
                        {% endif %}

                        {% unless page.tags == empty %}
                        <span>/</span>
                        <span>{{ page.tags | join: ", " }}</span>
                        {% endunless %}
                    </div>

                </div>

                {{ content }}

            </article>
        </main>

        {% include footer.html %}

    </body>

</html>

