
:root {
  --content-width: 40rem;
  --img-invert: 0;

  --spacing-50:         0.50rem;
  --spacing-75:         0.75rem;
  --spacing-100:        1.00rem;
  --spacing-150:        1.50rem;
  --spacing-200:        2.00rem;

  --border-size:    0.0625rem;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  > * { min-width: 0; }

  min-height: 100vh;
  margin: 0;

  background-color: var(--base);

  font-family: var(--sans-font);
  color: var(--text);
  text-shadow: var(--text-shadow);
}

article {
  box-sizing: border-box;
  max-width: var(--content-width);
  
  margin-inline: auto;
  padding-inline: var(--spacing-200);
  padding-block: 12vh;

  > h2, > h3, > h4, > h5, > h6 {
    margin-block: var(--spacing-200) var(--spacing-50);

    & + :is(h1, h2, h3, h4, h5, h6) {
      margin-block-start: var(--spacing-100);;
    }

  }
}

p {
  margin-block: 0 var(--spacing-100);

  > a {
    color: var(--text-light);
    transition: all 0.25s;
    &:hover {
      color: var(--primary);
    }
  }

  > img {
    display: block;
    margin: 0 auto; 
    max-width: 95%;
    + sub {
      display: inline-block;
      text-align: center;
      width: 100%;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-block: 0 var(--spacing-50);
}

ul {
  margin: 0 0 var(--spacing-100) var(--spacing-50);
  padding-inline-start: var(--spacing-100);
}

hr {
  height: 0px;
  margin-block-end: var(--spacing-100);
  border-style: none;
  border-top: var(--border-size) solid var(--text);
}

blockquote {
  margin: var(--spacing-100);
  padding: var(--spacing-75) var(--spacing-100);

  font-style: italic;
  font-size: var(--mini-size);
  color: hsl(var(--block-color));

  background-color: hsl(var(--block-hsl) / 0.1);
  border-left: 0.5rem solid hsl(var(--block-hsl));

  &::before {
    display: block;
    content: var(--bq-text);
    font-weight: var(--h1-weight);
    font-style: normal;
    margin: 0;
  }

  &.blockquote-note {
    --bq-text: "Note";
    --block-hsl: 220 100% 75%;
    --block-color: 220 25% 50%;
  }
  &.blockquote-tip {
    --bq-text: "Tip";
    --block-hsl: 120 70% 75%;
    --block-color: 120 25% 50%;
  }
  &.blockquote-important {
    --bq-text: "Important";
    --block-hsl: 270 70% 75%;
    --block-color: 270 25% 50%;
  }
  &.blockquote-warning {
    --bq-text: "Warning";
    --block-hsl: 30 100% 75%;
    --block-color: 30 25% 50%;
  }
  &.blockquote-caution {
    --bq-text: "Caution";
    --block-hsl: 0 100% 75%;
    --block-color: 0 25% 50%;
  }
}

