
footer {
  display: flex;
  justify-content: center;

  font-size:    var(--mini-size);
  font-weight:  var(--body-weight);

  a {
    color: inherit;
    transition: all 0.2s;
    text-decoration: none;
  }
}

#footer-content {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: var(--content-width);
  padding: var(--spacing-100) var(--spacing-150);

  text-shadow: var(--text-shadow);

  > p {
    margin: 0;
    > a {
      color: var(--text-light);
      text-decoration: underline;

      &:hover {
        color: var(--primary);
      }
    }
  }
}

