
footer {
  display: flex;
  justify-content: center;
  width: 100%;

  font-size: var(--small-size);

  a {
    color: inherit;
    transition: all 0.2s;
    text-decoration: none;
  }
}

#footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6vh;
  padding: 1rem;

  width: var(--content-width);

  > p {
    margin: 0;
    > a {
      color: var(--text-light);
      text-decoration: underline;

      &:hover {
        color: var(--primary);
      }
    }
  }
}

