
header {
  box-sizing: border-box;

  width: 100%;

  display: flex;
  justify-content: center;

  font-size: 0.85rem;
  font-weight: 500;
}

#header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: var(--content-width);
  padding: 1.0rem 0.5rem 0.75rem;
  margin: 0 1rem;
}

#home-button {
  display: flex;
  align-items: center;

  height: 1.75rem;

  text-decoration: none;
  color: var(--text);

  > img {
    height: 100%;
    transition: all 0.2s;
  }

  #home-button-text {
    margin-left: 0.25em;

    text-decoration: underline solid transparent;

    transition: all 0.2s;
  }

  &:not(.tab-highlight):hover {
    color: var(--text-light);

    #home-button-text {
      text-decoration: underline solid var(--text-light);
    }

    > img {
      opacity: 0.7;
    }
  }
}

#header-links {
  display: flex;
  gap: 1rem;
}

#site-nav {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0 0.5rem;
  gap: 1.0rem;

  .tab {
    display: flex;
    justify-content: center;

    box-sizing: border-box;
    padding: 0.5em;

    text-decoration: underline solid transparent;
    color: var(--text);
    text-transform: capitalize;

    transition: all 0.2s;

    &:not(.tab-highlight):hover {
      color: var(--text-light);
      text-decoration: underline solid var(--text-light);
    }
  }

  .tab-highlight {
    text-decoration: underline solid var(--text);
  }
}

