
:root {
  --bg-primary:     oklch(0.98  0.004 106);
  --bg-secondary:   oklch(0.96  0.007 97);

  --text-primary:   oklch(0.20  0.006 106);
  --text-secondary: oklch(0.52  0.014 97);
  --text-tertiary:  oklch(0.70  0.013 92);

  --border:         oklch(0.89  0.010 95);

  --accent:         oklch(0.50 0.15 290);
  --accent-dim:     oklch(0.50 0.15 290 / 0.1);

  --filter-scheme-invert:     invert(0);
}

[data-theme="light"] {
  --filter-scheme-invert:     invert(0);
}

[data-theme="dark"] {
  --bg-primary:     oklch(0.22  0.004 106);
  --bg-secondary:   oklch(0.26  0.004 106);

  --text-primary:   oklch(0.92  0.015 98);
  --text-secondary: oklch(0.64  0.015 98);
  --text-tertiary:  oklch(0.46  0.010 92);

  --border:         oklch(0.30  0.010 95);

  --accent:         oklch(0.70 0.20 290);
  --accent-dim:     oklch(0.70 0.20 290 / 0.1);

  --filter-scheme-invert:     invert(1);
}

.invert-on-scheme {
  filter: var(--filter-scheme-invert);
};

