
:root {
  --bg-primary:     oklch(1.00  0.000 0);
  --bg-secondary:   oklch(0.97  0.000 0);

  --text-primary:   oklch(0.20  0.000 0);
  --text-secondary: oklch(0.42  0.000 0);
  --text-tertiary:  oklch(0.64  0.000 0);

  --border:         oklch(0.89  0.000 0);

  --accent:         oklch(0.55  0.15 290);
  --accent-dim:     oklch(0.55  0.15 290 / 0.1);

  --filter-scheme-invert:     invert(0);
}

[data-theme="light"] {
  --filter-scheme-invert:     invert(0);
}

[data-theme="dark"] {
  --bg-primary:     oklch(0.22  0.000 0);
  --bg-secondary:   oklch(0.26  0.000 0);

  --text-primary:   oklch(0.92  0.000 0);
  --text-secondary: oklch(0.74  0.000 0);
  --text-tertiary:  oklch(0.50  0.000 0);

  --border:         oklch(0.30  0.000 0);

  --accent:         oklch(0.70  0.20 290);
  --accent-dim:     oklch(0.70  0.20 290 / 0.1);

  --filter-scheme-invert:     invert(1);
}

.invert-on-scheme {
  filter: var(--filter-scheme-invert);
};

