
:root {
  --base:           oklch(1.00 0 0);
  --base-dark:      oklch(0.97 0 0);
  --base-darker:    oklch(0.90 0 0);

  --text-light:     oklch(0.35 0 0);
  --text:           oklch(0.20 0 0);

  // --primary:        oklch(0.6854 0.1273 176.73);
  --primary:        oklch(0.6697 0.1299 136.14);
  // --primary:        oklch(0.7115 0.1132 135.53);
}

